@font-face {
  font-family: 'Avenir Next';
  src: url('./assets/fonts/AvenirNextCyr-Regular.woff'),
  url('./assets/fonts/AvenirNextCyr-Regular.woff2');
}

body, html {
  margin: 0;
  font-family: 'Avenir Next', sans-serif;
}

h1 {
  margin: 0;
}

input {
  all: unset;
}
